:root {

    --color-background:#282a36;
    --color-primary-lighter: #50fa7b;
    --color-primary-light: #282a36;
    --color-primary: #282a36;
    --color-primary-dark: #50fa7a;
    --color-primary-darker: #50fa7b;
    --color-secundary: #50fa7b;
    --color-secundary-dark: #50fa7a98;
    --color-title-in-primary: #282a36;
    --color-text-in-primary: #282a36;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #282a36;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-button-form: #1c1d24;
    --color-button-form-dark: #1c1d24b9;
    --color-button-form-text: #50fa7b;


    font-size: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}

body{
    background: var(--color-background);
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;

}

body,
input,
button,
textarea{
    color: var(--color-text-base);
    font: 500 1.6rem "Poppins";
}

.container {
    width: 90vw;
    max-width: 700px;
}

@media (min-width: 700px) {
    :root{
        font-size: 62.5%;
    }
}